<!DOCTYPE html>
<html>

<head>
  <title>
    Project Management
  </title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- Google Fonts API -->
  <link href="https://fonts.googleapis.com/css?family=Gugi" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple|3d-float">

  <!-- Custom stylesheets -->
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>



<body>

  <!-- Angular Material requires Angular.js Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

  <!-- My Angular script -->
  <script src="javascripts/angularScript.js"></script>

  <h1>
    Creation of Project
  </h1>
  <h2>Welcome
    <%=user.name %>
  </h2>
  <!-- <p>Welcome to <%= title %></p> -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#projectModal">
    Create Project
  </button>
  <a href="../logout">
    <button type="button" class="btn btn-primary">
      Sign out
    </button>
  </a>




  <div class="modal fade" id="projectModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">

        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin:15px 15px;">
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="panel-heading">
            <div class="font-effect-shadow-multiple heading">CREATE PROJECT :)</div>
          </div>
          <hr>


          <form name="projectForm" class="form-signin" role="form" action="profile/InsertProject" method="post" id="projectForm">



            <label>Name</label>
            <input type="text" class="form-control" name="name" required >
            <br />


            <label>Description:</label>
            <textarea class="form-control" rows="5" name="description" required ></textarea>
            <br />

            <label>Members</label>

            <input type="text" class="form-control" name="member" id="members">
            <br />


            <div class="container col-md-12">
              <div class="row">

                <div class="col-md-5">

                  <label for="startDate">Start Date:</label>
                  <input class="form-control" type="date" name="startDate" id="startDate" required>
                </div>

                <div class="col-md-2">

                </div>


                <div class="col-md-5">

                  <label for="endDate">End Date:</label>
                  <input class="form-control" type="date" name="endDate" id="endDate" required>
                  <br />
                </div>
              </div>
            </div>


            <div class="submitButton">
              <button type="submit" class="btn btn-primary">Create Project</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>

  <!-- JQuery scripting for modal bootstrap-->

  <script>
    $(document).ready(function () {
      function validateMember() {
        var members = document.getElementById("members").value;
        var list = members.split(',');
        for (var index in list) {
          var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
          var flag = re.test(String(list[index]).toLowerCase());
          if (flag == false)
            return false;
        }
        return true;
      }
      $("#endDate").change(function () {
        var startDate = document.getElementById("startDate").value;
        var endDate = document.getElementById("endDate").value;
        if ((Date.parse(endDate) <= Date.parse(startDate))) {
          alert("End date should be greater than Start date");
          document.getElementById("endDate").value = "";
        }
      });
      $('#projectForm').submit(function (e) {
        if(!validateMember()){
          e.preventDefault();
        }
       //alert("hello");
      });
      
    });
  </script>

<div class="panel-heading">
  <div class="font-effect-shadow-multiple heading">LIST OF PROJECTS</div>
</div>

<div class="container2">
      
  <% for(var i = 0; i < projects.length; ++i) {%>
<% var url = "../project/"+projects[i].project_id %>
   
      
    
    <div class="fancy ">
        <a href=<%= url %>>
          <h3>
        - <%=projects[i].name%>
    </h3></a>
    <h4>
        - <%=projects[i].lead%>
    </h4>
    </div>
  
    <% } %>

</div>
</body>

</html>