<!DOCTYPE html>
<html>

<head>
  <title>Project Management</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- Google Fonts API -->
  <link href="https://fonts.googleapis.com/css?family=Gugi" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple|3d-float">

  <!-- Custom stylesheets -->
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <!-- Angular Material requires Angular.js Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

  <!-- My Angular script -->
  <script src="javascripts/angularScript.js"></script>

  <h1>
    Sprint Dashboard
  </h1>
  <h2>Welcome
    <%=user.name %>
  </h2>
  <!-- <p>Welcome to <%= title %></p> -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#taskModal">
    Create Task
  </button>

  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#sprintModal">
    Update Sprint information
  </button>

  <a href="../logout">
    <button type="button" class="btn btn-primary">
      Sign out
    </button>
  </a>

  <div class="container2">
    
<% for(var i = 0; i < tasks.length; ++i) {%>
<% var url = "../task/"+tasks[i].task_id %>
 
    
  
  <div>
      <a href=<%= url %>>
        <h3>
      - <%=tasks[i].name%>
  </h3></a>
  <h4>
      - <%=tasks[i].status%>
  </h4>
  </div>

  <% } %>

</div>

  <div class="modal fade" id="taskModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">

        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin:15px 15px;">
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="panel-heading">
            <div class="font-effect-shadow-multiple heading">CREATE TASK :)</div>
          </div>
          <hr>
          <% var url1 = "/sprint/"+sprint.sprint_id+"/AddTask" %>
          <form name="taskForm" class="form-signin" role="form" method="post" action="<%= url1 %>" id="taskForm">


            <label>Name</label>
            <input type="text" class="form-control" name="name">
            <br />

            <label>Assigned to</label>
            <select class="form-control" id="dropdown" name="assignee">
                <option>No one yet</option>
                <% for(var i = 0; i < project.members.length; ++i) {%>
                  <option><%= project.members[i] %></option>
                  <% } %>
              </select>
            <!-- <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                No one yet
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#" data-value="none" name="assignee">No one yet</a></li>
                <% for(var i = 0; i < project.members.length; ++i) {%>
                <li><a href="#" data-value="<%= project.members[i] %>" name="assignee"><%= project.members[i] %></a></li>
                <% } %>
              </ul>
            </div> -->


            <label>Description:</label>
            <textarea class="form-control" rows="5" name="description"></textarea>
            <br />

            <div class="container col-md-12">
              <div class="row">

                <div class="col-md-5">
                  <label for="startDate">Start Date:</label>
                  <input class="form-control" type="date" id="startDate" name="startDate">
                </div>

                <div class="col-md-2">

                </div>


                <div class="col-md-5">
                  <label for="endDate">End Date:</label>
                  <input class="form-control" type="date" id="endDate" name="endDate">
                  <br />
                </div>
              </div>
            </div>


            <div class="submitButton">
              <button type="submit" class="btn btn-primary">Create Task</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>

  <div class="modal fade" id="sprintModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">

        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin:15px 15px;">
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="panel-heading">
            <div class="font-effect-shadow-multiple heading">Update Sprint :)</div>
          </div>
          <hr>
          <% var url2 = "/sprint/"+sprint.sprint_id+"/UpdateSprint" %>
            <form name="sprintForm" class="form-signin" role="form" method="post" action="<%=url2%>" id="sprintForm">


              <label>Name</label>
              <input type="text" class="form-control" name="name" value="<%= sprint.name %>" required>
              <br />


              <label>Description:</label>
              <textarea class="form-control" rows="5" name="description" required><%= sprint.description %></textarea>
              <br />

              <div class="container col-md-12">
                <div class="row">

                  <div class="col-md-5">
                    <label for="startDate">Start Date:</label>
                    <input class="form-control" type="date" name="startDate" id="sprint_startDate" required>
                  </div>

                  <div class="col-md-2">

                  </div>


                  <div class="col-md-5">
                    <label for="endDate">End Date:</label>
                    <input class="form-control" type="date" name="endDate" id="sprint_endDate" required>
                    <br />
                  </div>
                </div>
              </div>


              <div class="submitButton">
                <button type="submit" class="btn btn-primary">Update Sprint</button>
              </div>
            </form>
        </div>

      </div>
    </div>
  </div>

  <script>
    $(document).ready(function () {

      let start_date = new Date('<%- sprint.start_date %>').toISOString().substr(0, 10);
      let end_date = new Date('<%- sprint.end_date %>').toISOString().substr(0, 10);
      document.querySelector("#sprintForm #sprint_startDate").value = start_date;
      document.querySelector("#sprintForm #sprint_endDate").value = end_date;

      $(".dropdown-menu li a").click(function(){
  $(this).parents(".dropdown").find('.btn').html($(this).text() + ' <span class="caret"></span>');
  $(this).parents(".dropdown").find('.btn').val($(this).data('value'));
});

      $("#endDate").change(function () {
        var startDate = document.getElementById("startDate").value;
        var endDate = document.getElementById("endDate").value;

        if ((Date.parse(endDate) <= Date.parse(startDate))) {
          alert("End date should be greater than Start date");
          document.getElementById("endDate").value = "";
        }
      });
    });
  </script>

</body>

</html>