<!DOCTYPE html>
<html>

<head>
  <title>Project Management</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- Google Fonts API -->
  <link href="https://fonts.googleapis.com/css?family=Gugi" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple|3d-float">

  <!-- Custom stylesheets -->
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <!-- Angular Material requires Angular.js Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

  <!-- My Angular script -->
  <script src="javascripts/angularScript.js"></script>

  <h1>
    Task Dashboard
  </h1>

  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#taskModal">
    Update Task
  </button>

  <a href="../logout">
    <button type="button" class="btn btn-primary">
      Sign out
    </button>
  </a>

  <div class="modal fade" id="taskModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">

        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin:15px 15px;">
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="panel-heading">
            <div class="font-effect-shadow-multiple heading">CREATE TASK :)</div>
          </div>
          <hr>
          <% var url1 = "/task/"+task.task_id+"/EditTask" %>
          <form name="taskForm" class="form-signin" role="form" method="post" action="<%= url1 %>" id="taskForm">


            <label>Name</label>
            <input type="text" class="form-control" name="name" value="<%= task.name %>">
            <br />

            <label>Assigned to</label>
            <select class="form-control" id="dropdown" name="assignee">
                <option>No one yet</option>
                <% for(var i = 0; i < project.members.length; ++i) {%>
                  <option><%= project.members[i] %></option>
                  <% } %>
                </select>

                <label>Task status</label>
                <select class="form-control" id="dropdown" name="status">
                    <option>To-do</option>
                    <option>Completed </option>
                    <option>In-progress</option>
                    </select>


            <label>Description:</label>
            <textarea class="form-control" rows="5" name="description"><%= task.description %></textarea>
            <br />

            <div class="container col-md-12">
              <div class="row">

                <div class="col-md-5">
                  <label for="startDate">Start Date:</label>
                  <input class="form-control" type="date" id="startDate" name="startDate">
                </div>

                <div class="col-md-2">

                </div>


                <div class="col-md-5">
                  <label for="endDate">End Date:</label>
                  <input class="form-control" type="date" id="endDate" name="endDate">
                  <br />
                </div>
              </div>
            </div>


            <div class="submitButton">
              <button type="submit" class="btn btn-primary">Update Task</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>


  <script>
    $(document).ready(function () {

      let start_date = new Date('<%- task.start_date %>').toISOString().substr(0, 10);
      let end_date = new Date('<%- task.end_date %>').toISOString().substr(0, 10);
      document.querySelector("#startDate").value = start_date;
      document.querySelector("#endDate").value = end_date;


      $("#endDate").change(function () {
        var startDate = document.getElementById("startDate").value;
        var endDate = document.getElementById("endDate").value;

        if ((Date.parse(endDate) <= Date.parse(startDate))) {
          alert("End date should be greater than Start date");
          document.getElementById("endDate").value = "";
        }
      });
    });
  </script>

</body>

</html>