<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <%= task.name %>
    <%= task.description %>
    <%= project.members %>
    <!-- <p>Welcome to <%= title %></p> -->

  </body>
</html>
